<div xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="response-message" class="modal" id="responseMessage">
        <div class="title-h3" id="responseMessageTitle"></div>
        <hr/>
        <div class="modal-body" id="responseMessageBody"></div>
        <div class="push25"></div>
        <div class="row">
            <div class="col-xs-14 col-sm-10">
                <a href="index.html#" class="btn block fancyClose">Закрыть</a>
            </div>
        </div>
    </div>
    <div th:fragment="callback" class="modal" id="callback">
        <div class="title-h2 themetitle">Закажите звонок</div>
        <p>
            Точная стоимость работ определяется специалистом после осмотра. Выезд мастера — бесплатный. Приезд мастера —
            45
            минут.
        </p>
        <br/>

        <div class="rf">
            <form method="post" class="ajax_form">
                <input type="hidden" class="themeinput" name="themeinput">
                <input type="hidden" name="urlinput" value="https://master.sboxdemo.ru/index}">
                <div class="row">
                    <div class="col-sm-24">
                        <div class="form-group">
                            <label class="label" for="fio">Ваше имя *</label>
                            <input type="text" id="fio" name="fio" value="" class="form-control person required"
                                   placeholder="Ваше имя *"/>
                        </div>
                    </div>
                    <div class="col-sm-24">
                        <div class="form-group">
                            <label class="label" for="tel">Телефон *</label>
                            <input type="text" id="tel" name="tel" value="" class="form-control tel required"
                                   placeholder="Телефон *"/>
                        </div>
                    </div>
                </div>
                <div class="agreement form-group">
                    <input type="checkbox" name="agreement" id="agreementcallback" class="required">
                    <label for="agreementcallback">
                        Даю согласие на обработку персональных данных *
                    </label>
                </div>

                <div class="form-item">
                    <div id="recaptcha1"></div>

                    <span class="error_g-recaptcha-response error"></span>
                </div>
                <div class="push40"></div>

                <div>
                    <input name="callbackbtn" type="submit" class="btn" value="Отправить"/>
                </div>
                <div class="push20"></div>
                <p><span class="red">*</span> <span class="f12">- поля, обязательные для заполнения</span></p>

                <input type="hidden" name="af_action" value="0372c3b0b14fd3d41050bbc96c785ca7"/>
            </form>
        </div>
    </div>
</div>