<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Мастер на все руки | Master')"></head>
<body class="index-template">

<div th:replace="fragments/mobile-menu :: mobile-menu"></div>
<div class="main-wrapper">
    <div th:replace="fragments/header :: header"></div>

    <div class="top-slider-wrapper relative">
        <div class="top-slider">

            <div class="item relative">
                <div class="element-img"
                     style="background: url(assets/cache_image/images/slider/slide1_1915x515_391.jpg) 50% 50%  no-repeat; background-size: cover;"></div>
                <div class="slider-content">
                    <div class="container">

                        <div class="title2">
                            <div class="title2-inner">Окажем любую помощь</div>
                        </div>


                        <div class="title3">
                            <span>24 часа в сутки 7 дней в неделю</span>
                        </div>


                        <div class="push40 hidden-xs"></div>
                        <div class="push10 visible-xs"></div>
                        <a href="#" class="btn">Подробнее</a>

                    </div>
                </div>
            </div>

            <div class="item relative">
                <div class="element-img"
                     style="background: url(assets/cache_image/images/slider/slide2_1915x515_391.jpg) 50% 50%  no-repeat; background-size: cover;"></div>
                <div class="slider-content">
                    <div class="container">

                        <div class="title2">
                            <div class="title2-inner">Электромонтажные работы</div>
                        </div>


                        <div class="title3">
                            <span>Гарантируем 100% результат</span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="item relative">
                <div class="element-img"
                     style="background: url(assets/cache_image/images/slider/slide3_1915x515_391.jpg) 50% 50%  no-repeat; background-size: cover;"></div>
                <div class="slider-content">
                    <div class="container">

                        <div class="title2">
                            <div class="title2-inner">Сантехнические работы</div>
                        </div>


                        <div class="title3">
                            <span>Работаем по договору</span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="item relative">
                <div class="element-img"
                     style="background: url(assets/cache_image/images/slider/slide4_1915x515_391.jpg) 50% 50%  no-repeat; background-size: cover;"></div>
                <div class="slider-content">
                    <div class="container">

                        <div class="title2">
                            <div class="title2-inner">Установка пластиковых окон</div>
                        </div>


                        <div class="title3">
                            <span>100% результат качества</span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="item relative">
                <div class="element-img"
                     style="background: url(assets/cache_image/images/slider/slide5_1915x515_391.jpg) 50% 50%  no-repeat; background-size: cover;"></div>
                <div class="slider-content">
                    <div class="container">

                        <div class="title2">
                            <div class="title2-inner">Сборка мебели</div>
                        </div>


                        <div class="title3">
                            <span>у нас лучшие специалисты</span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="item relative">
                <div class="element-img"
                     style="background: url(assets/cache_image/images/slider/slide6_1915x515_391.jpg) 50% 50%  no-repeat; background-size: cover;"></div>
                <div class="slider-content">
                    <div class="container">

                        <div class="title2">
                            <div class="title2-inner">Уборка помещений</div>
                        </div>


                        <div class="title3">
                            <span>у нас самая экологическая чистка</span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="item relative">
                <div class="element-img"
                     style="background: url(assets/cache_image/images/slider/slide7_1915x515_391.jpg) 50% 50%  no-repeat; background-size: cover;"></div>
                <div class="slider-content">
                    <div class="container">

                        <div class="title2">
                            <div class="title2-inner">Переезды, грузоперевозки</div>
                        </div>


                        <div class="title3">
                            <span>от двери к двери</span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="item relative">
                <div class="element-img"
                     style="background: url(assets/cache_image/images/slider/slide8_1915x515_391.jpg) 50% 50%  no-repeat; background-size: cover;"></div>
                <div class="slider-content">
                    <div class="container">

                        <div class="title2">
                            <div class="title2-inner">Установка кондиционеров</div>
                        </div>


                        <div class="title3">
                            <span>с гарантией результата</span>
                        </div>


                    </div>
                </div>
            </div>

            <div class="item relative">
                <div class="element-img"
                     style="background: url(assets/cache_image/images/slider/slide9_1915x515_391.jpg) 50% 50%  no-repeat; background-size: cover;"></div>
                <div class="slider-content">
                    <div class="container">

                        <div class="title2">
                            <div class="title2-inner">Установка систем видеонаблюдения</div>
                        </div>


                        <div class="title3">
                            <span>и спутникового оборудования</span>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="excellence-wrapper">
        <div class="container">
            <div class="row text-center">

                <div class="col-xs-12 col-sm-6">
                    <div class="excellence-element">
                        <div class="img-wrapper">
                            <img src="images/excellence/excellence1.png"
                                 alt="Компания работает 24 часа в сутки">
                        </div>

                        <h5 class="black">Компания работает <br/>24 часа в сутки</h5>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="excellence-element">
                        <div class="img-wrapper">
                            <img src="images/excellence/excellence2.png"
                                 alt="Даем клиентам возможность  отсрочки оплаты">
                        </div>

                        <h5 class="black">Даем клиентам возможность <br/> отсрочки оплаты</h5>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="excellence-element">
                        <div class="img-wrapper">
                            <img src="images/excellence/excellence3.png"
                                 alt="Принимаем абсолютно все заказы">
                        </div>

                        <h5 class="black">Принимаем абсолютно <br/>все заказы</h5>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="excellence-element">
                        <div class="img-wrapper">
                            <img src="images/excellence/excellence4.png"
                                 alt="Даем гарантию на год на все виды работ">
                        </div>

                        <h5 class="black">Даем гарантию на год <br/>на все виды работ</h5>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="index-services-wrapper">
        <div class="container">
            <div class="title-h1 text-center black">Наши услуги</div>
            <div class="services-carousel">
                <div class="item">
                    <div class="services-element">
                        <a th:href="@{uborka-pomeshhenij}" class="absolute"></a>
                        <div class="img-wrapper">
                            <div class="element-img"
                                 style="background: url(assets/cache_image/images/services/services7_350x300_a48.jpg) 50% 50% no-repeat; background-size: cover;"></div>
                        </div>
                        <div class="title">
                            <div class="table">
                                <div class="table-cell">
                                    <span>Уборка помещений</span>
                                </div>
                            </div>
                        </div>
                        <div class="element-price text-center">
                            от 100 руб.
                        </div>
                        <div class="btn-block text-center">
                            <a th:href="@{#callback}" class="btn fancyboxModal"
                               data-theme="Уборка помещений">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="services-element">
                        <a th:href="@{sborka-mebeli}" class="absolute"></a>
                        <div class="img-wrapper">
                            <div class="element-img"
                                 style="background: url(assets/cache_image/images/services/services6_350x300_a48.jpg) 50% 50% no-repeat; background-size: cover;"></div>
                        </div>
                        <div class="title">
                            <div class="table">
                                <div class="table-cell">
                                    <span>Сборка мебели</span>
                                </div>
                            </div>
                        </div>
                        <div class="element-price text-center">
                            от 390 руб.
                        </div>
                        <div class="btn-block text-center">
                            <a th:href="@{#callback}" class="btn fancyboxModal"
                               data-theme="Сборка мебели">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="services-element">
                        <a th:href="@{ustanovka-i-obsluzhivanie-plastikovyix-okon}" class="absolute"></a>
                        <div class="img-wrapper">
                            <div class="element-img"
                                 style="background: url(assets/cache_image/images/services/services4_350x300_a48.jpg) 50% 50% no-repeat; background-size: cover;"></div>
                        </div>
                        <div class="title">
                            <div class="table">
                                <div class="table-cell">
                                    <span>Установка и обслуживание пластиковых окон</span>
                                </div>
                            </div>
                        </div>
                        <div class="element-price text-center">
                            от 500 руб.
                        </div>
                        <div class="btn-block text-center">
                            <a th:href="@{#callback}" class="btn fancyboxModal"
                               data-theme="Установка и обслуживание пластиковых окон">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="services-element">
                        <a th:href="@{ustanovka-i-obsluzhivanie-kondiczionerov}" class="absolute"></a>
                        <div class="img-wrapper">
                            <div class="element-img"
                                 style="background: url(assets/cache_image/images/services/services3_350x300_a48.jpg) 50% 50% no-repeat; background-size: cover;"></div>
                        </div>
                        <div class="title">
                            <div class="table">
                                <div class="table-cell">
                                    <span>Установка и обслуживание кондиционеров</span>
                                </div>
                            </div>
                        </div>
                        <div class="element-price text-center">
                            от 600 руб.
                        </div>
                        <div class="btn-block text-center">
                            <a th:href="@{#callback}" class="btn fancyboxModal"
                               data-theme="Установка и обслуживание кондиционеров">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="services-element">
                        <a th:href="@{ustanovka-dverej}" class="absolute"></a>
                        <div class="img-wrapper">
                            <div class="element-img"
                                 style="background: url(assets/cache_image/images/services/lock-installation-locksmith_350x300_a48.jpg) 50% 50% no-repeat; background-size: cover;"></div>
                        </div>
                        <div class="title">
                            <div class="table">
                                <div class="table-cell">
                                    <span>Установка дверей</span>
                                </div>
                            </div>
                        </div>
                        <div class="element-price text-center">
                            от 600 руб.
                        </div>
                        <div class="btn-block text-center">
                            <a th:href="@{#callback}" class="btn fancyboxModal"
                               data-theme="Установка дверей">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="services-element">
                        <a th:href="@{montazh-natyazhnyix-potolkov}" class="absolute"></a>
                        <div class="img-wrapper">
                            <div class="element-img"
                                 style="background: url(assets/cache_image/images/services/montazh-natyazhnykh-potolkov_350x300_a48.jpg) 50% 50% no-repeat; background-size: cover;"></div>
                        </div>
                        <div class="title">
                            <div class="table">
                                <div class="table-cell">
                                    <span>Монтаж натяжных потолков</span>
                                </div>
                            </div>
                        </div>
                        <div class="element-price text-center">
                            от 990 руб.
                        </div>
                        <div class="btn-block text-center">
                            <a th:href="@{#callback}" class="btn fancyboxModal"
                               data-theme="Монтаж натяжных потолков">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="services-element">
                        <a th:href="@{uslugi-elektrika}" class="absolute"></a>
                        <div class="img-wrapper">
                            <div class="element-img"
                                 style="background: url(assets/cache_image/images/services/services2_350x300_a48.jpg) 50% 50% no-repeat; background-size: cover;"></div>
                        </div>
                        <div class="title">
                            <div class="table">
                                <div class="table-cell">
                                    <span>Услуги электрика</span>
                                </div>
                            </div>
                        </div>
                        <div class="element-price text-center">
                            от 150 руб.
                        </div>
                        <div class="btn-block text-center">
                            <a th:href="@{#callback}" class="btn fancyboxModal"
                               data-theme="Услуги электрика">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="services-element">
                        <a th:href="@{uslugi-santexnika}" class="absolute"></a>
                        <div class="img-wrapper">
                            <div class="element-img"
                                 style="background: url(assets/cache_image/images/services/services1_350x300_a48.jpg) 50% 50% no-repeat; background-size: cover;"></div>
                        </div>
                        <div class="title">
                            <div class="table">
                                <div class="table-cell">
                                    <span>Услуги сантехника</span>
                                </div>
                            </div>
                        </div>
                        <div class="element-price text-center">
                            от 190 руб.
                        </div>
                        <div class="btn-block text-center">
                            <a th:href="@{#callback}" class="btn fancyboxModal"
                               data-theme="Услуги сантехника">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <div class="main-column content">
                        <p><strong>Компания «Мастер на все руки»</strong> - специализируется на оказании бытовых услуг
                            населению и юр. лицам. Задача организации, в особенности же постоянный количественный рост и
                            сфера нашей активности позволяет оценить значение дальнейших направлений развития.
                            Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий
                            способствует подготовки и реализации существенных финансовых и административных условий.
                            Значимость этих проблем настолько очевидна значение направлений прогрессивного развития.</p>
                        <p><strong>Основные услуги, предоставляемые компанией:</strong></p>
                        <ul>
                            <li>ремонт, монтаж электропроводки и электрооборудования;</li>
                            <li>сантехнические работы;</li>
                            <li>услуги разнорабочих, монтажников, грузчиков, сварщиков;</li>
                            <li>сборка мебели, торгового оборудования и прочих конструкций;</li>
                            <li>монтаж и обслуживание систем видеонаблюдения;</li>
                            <li>монтаж и обслуживание противопожарных систем и сигнализаций;</li>
                        </ul>
                        <div class="push10"> </div>
                    </div>
                </div>
                <div class="col-md-13">
                    <div class="index-form-wrapper relative">
                        <div class="index-form-block-inner rf">
                            <div class="title">
                                Мастера к вашим услугам! <br>
                                Закажите звонок прямо сейчас:
                            </div>
                            <form method="post" class="ajax_form">
                                <div class="form-group">
                                    <input name="fio" type="text" class="form-control required person"
                                           placeholder="Ваше имя *" value="">
                                </div>
                                <div class="form-group">
                                    <input name="tel" type="text" class="form-control required tel"
                                           placeholder="Ваш телефон*" value="">
                                </div>
                                <div class="agreement form-group">
                                    <input type="checkbox" name="agreement" id="agreementindexcallback"
                                           class="required">
                                    <label for="agreementindexcallback">
                                        Даю согласие на обработку персональных данных *
                                    </label>
                                </div>
                                <div class="form-item">
                                    <div id="recaptcha2"></div>

                                    <span class="error_g-recaptcha-response error"></span>
                                </div>
                                <div class="push40 hidden-xs"></div>
                                <div class="push20 visible-xs"></div>
                                <input name="indexcallbackbtn" type="submit" class="btn" value="Отправить">

                                <input type="hidden" name="af_action" value="f04ee7c89228622ea13f4f67d0a49df3"/>
                            </form>
                        </div>


                        <div class="counter-box">
                            <div class="counter-element">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="counter-element-num">
                                            12
                                        </div>
                                        <div class="counter-element-title">
                                            лет на рынке
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="counter-element">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="counter-element-num">
                                            182
                                        </div>
                                        <div class="counter-element-title">
                                            мастера в штате
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="counter-element">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="counter-element-num">
                                            11368
                                        </div>
                                        <div class="counter-element-title">
                                            выполненных заказов
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-h2"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Новости</div>
                </div>
                <div class="col-sm-12"><a th:href="@{novosti}" class="btn mini">Все новости</a></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="info-element">
                        <div class="date">19 Марта 2020</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-wrapper">
                                    <a th:href="@{ves-maj-i-iyun-50-na-ustanovku-split-sistem-i-kondiczionerov}"><img
                                            src="assets/cache_image/images/news/59942582_84x50_27f.jpg"
                                            alt="Весь май и июнь 50% на установку сплит-систем и кондиционеров!"></a>
                                </div>
                            </div>
                            <div class="col-md-18">
                                <h5><a th:href="@{ves-maj-i-iyun-50-na-ustanovku-split-sistem-i-kondiczionerov}">Весь
                                    май
                                    и июнь 50% на установку сплит-систем и кондиционеров!</a></h5>
                            </div>
                        </div>
                        <div class="introtext">
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                        </div>
                        <a th:href="@{ves-maj-i-iyun-50-na-ustanovku-split-sistem-i-kondiczionerov}" class="more">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="info-element">
                        <div class="date">19 Марта 2020</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-wrapper">
                                    <a th:href="@{formirovanii-napravlenij-progressivnogo-razvitiya}"><img
                                            src="assets/cache_image/images/news/09891220_84x50_27f.jpg"
                                            alt="Формировании направлений прогрессивного развития"></a>
                                </div>
                            </div>
                            <div class="col-md-18">
                                <h5><a th:href="@{formirovanii-napravlenij-progressivnogo-razvitiya}">Формировании
                                    направлений прогрессивного развития</a></h5>
                            </div>
                        </div>
                        <div class="introtext">
                            С другой стороны реализация намеченных плановых заданий способствует подготовки
                        </div>
                        <a th:href="@{formirovanii-napravlenij-progressivnogo-razvitiya}" class="more">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="info-element">
                        <div class="date">19 Марта 2020</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-wrapper">
                                    <a th:href="@{nachalo-povsednevnoj-rabotyi-po-formirovaniyu-poziczii}"><img
                                            src="assets/cache_image/images/news/34263651_84x50_27f.jpg"
                                            alt="Начало повседневной работы по формированию позиции"></a>
                                </div>
                            </div>
                            <div class="col-md-18">
                                <h5><a th:href="@{nachalo-povsednevnoj-rabotyi-po-formirovaniyu-poziczii}">Начало
                                    повседневной работы по формированию позиции</a></h5>
                            </div>
                        </div>
                        <div class="introtext">
                            Повседневная практика показывает, что дальнейшее развитие различных форм
                        </div>
                        <a th:href="@{nachalo-povsednevnoj-rabotyi-po-formirovaniyu-poziczii}"
                           class="more">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partners">
        <div class="push35"></div>
        <div class="container">
            <div class="partners-carousel-inner">
                <div class="partners-carousel">

                    <div class="item text-center">
                        <a href="#">
                            <img src="images/logotypes/index/partner1.png" alt="логотип 1">
                        </a>
                    </div>

                    <div class="item text-center">
                        <a href="#">
                            <img src="images/logotypes/index/partner2.png" alt="логотип 2">
                        </a>
                    </div>

                    <div class="item text-center">

                        <img src="images/logotypes/index/partner3.png" alt="">

                    </div>

                    <div class="item text-center">

                        <img src="images/logotypes/index/partner4.png" alt="">

                    </div>

                    <div class="item text-center">

                        <img src="images/logotypes/index/partner5.png" alt="">

                    </div>

                    <div class="item text-center">

                        <img src="images/logotypes/index/partner3.png" alt="">

                    </div>

                    <div class="item text-center">

                        <img src="images/logotypes/index/partner1.png" alt="">

                    </div>

                </div>
            </div>
        </div>
        <div class="push35"></div>
    </div>

    <div class="footer-push"></div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/scripts"></div>
</body>
</html>