<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('О компании | Master')"></head>
<body class="base-template">

<div th:replace="fragments/mobile-menu :: mobile-menu"></div>
<div class="main-wrapper">
    <div th:replace="fragments/header :: header"></div>

    <section class="middle">
        <div class="push40"></div>
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active">О компании</li>
            </ol>
            <h1>О компании</h1>
            <div class="content">
                <p><strong>Компания «MASTER»</strong> является одним из лидеров в РФ, предоставляющая своим клиентам
                    широкий спектр бытовых услуг в сфере <span>рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке</span>
                    с <span>2001</span> года.</p>
                <p><strong>В 2003 году</strong> открыто представительство в г. Москва.</p>
                <p><strong>В 2012 году</strong> <span>рыбатекст является альтернативой традиционному lorem ipsum</span>.
                </p>
                <p><span><span>При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце</span>.</span>
                </p>
                <p>Наша команда профессионалов – главная ценность компании. Высококвалифицированные специалисты <span>практика показывает, что сложившаяся структура организации играет важную роль в формировании модели развития</span>.
                </p>
                <p><span>Повседневная практика показывает, что сложившаяся структура организации играет важную роль в формировании модели развития. <span>Задача организации, в особенности же дальнейшее развитие различных форм деятельности играет важную роль в формировании модели развития.</span></span>
                </p>
                <p>С нами безопасно и надежно!</p>
            </div>


            <div class="push20"></div>
            <div class="gallery">
                <div class="row">

                    <div class="col-sm-12 col-md-8">
                        <div class="element">
                            <a class="fancybox"
                               href="assets/cache_image/images/about_company/5605af43132ffaffcc36fc1d035e2b9d_1500x1100_19c.jpg"
                               data-fancybox-group="gallery">
                                <img src="assets/cache_image/images/about_company/5605af43132ffaffcc36fc1d035e2b9d_747x550_5a0.jpg"
                                     alt="Описание изображения 1">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <div class="element">
                            <a class="fancybox"
                               href="assets/cache_image/images/about_company/biznes-kompanii-1_1500x1100_19c.jpg"
                               data-fancybox-group="gallery">
                                <img src="assets/cache_image/images/about_company/biznes-kompanii-1_747x550_5a0.jpg"
                                     alt="Описание изображения 2">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <div class="element">
                            <a class="fancybox"
                               href="assets/cache_image/images/about_company/gettyimages-164852259_1500x1100_19c.jpg"
                               data-fancybox-group="gallery">
                                <img src="assets/cache_image/images/about_company/gettyimages-164852259_747x550_5a0.jpg"
                                     alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <div class="element">
                            <a class="fancybox"
                               href="assets/cache_image/images/about_company/ky-su-giam-sat-co-dien-lanh_1500x1100_19c.jpg"
                               data-fancybox-group="gallery">
                                <img src="assets/cache_image/images/about_company/ky-su-giam-sat-co-dien-lanh_747x550_5a0.jpg"
                                     alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <div class="element">
                            <a class="fancybox" href="assets/cache_image/images/about_company/lh1_1500x1100_19c.jpg"
                               data-fancybox-group="gallery">
                                <img src="assets/cache_image/images/about_company/lh1_747x550_5a0.jpg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <div class="element">
                            <a class="fancybox"
                               href="assets/cache_image/images/about_company/photodune-5445304-group-of-construction-workers-m_1500x1100_19c.jpg"
                               data-fancybox-group="gallery">
                                <img src="assets/cache_image/images/about_company/photodune-5445304-group-of-construction-workers-m_747x550_5a0.jpg"
                                     alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="push60"></div>
    </section>

    <section class="feedback-section">
        <div class="container">
            <div class="feedback-form text-center rf">
                <div class="title-h1">Свяжитесь с нами</div>
                <form method="post" class="ajax_form">
                    <input type="hidden" name="urlinput" value="https://master.sboxdemo.ru/o-kompanii.html">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" name="fio" value="" class="form-control required"
                                       placeholder="Ваше имя *"/>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="email" name="usermail" value="" class="form-control required"
                                       placeholder="Ваш email *"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control message required"
                                  placeholder="Сообщение *"></textarea>
                    </div>
                    <div class="agreement form-group">
                        <input type="checkbox" name="agreement" id="agreementfeedback" class="required">
                        <label for="agreementfeedback">
                            Даю согласие на обработку персональных данных *
                        </label>
                    </div>
                    <center>
                        <div class="form-item">
                            <div id="recaptcha3"></div>

                            <span class="error_g-recaptcha-response error"></span>
                        </div>
                    </center>
                    <div class="push40"></div>
                    <div>
                        <input name="feedbackbtn" type="submit" class="btn block" value="Отправить"/>
                    </div>

                    <input type="hidden" name="af_action" value="be26d5a1464145b0e941089703ec81cb"/>
                </form>
            </div>
        </div>
    </section>

    <div class="footer-push"></div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/scripts"></div>
</body>
</html>