<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Отзывы | Master')"></head>
<body class="base-template gray-template">

<div th:replace="fragments/mobile-menu :: mobile-menu"></div>

<div class="main-wrapper">
    <div th:replace="fragments/header :: header"></div>

    <section class="middle">
        <div class="push40"></div>
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active">Отзывы</li>
            </ol>
            <h1>Отзывы</h1>

            <div class="comments reviews" id="comments">
                <div class="rows">
                    <div id="ec-resource-30-message-10" class="ec-message">
                        <div class="row no-padding">
                            <div class="col-sm-8 col-sm-push-16">
                                <div class="ec-message__date text-right-sm">22 Мая 2020г.</div>
                                <div class="push10 visible-xs"></div>
                            </div>
                            <div class="col-sm-16 col-sm-pull-8">
                                <p class="username">
                                    <strong>
                                        Алексеев Евгений
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p>То есть после оформления заявки и оплаты вы сразу же можете получить?</p>

                    </div>
                    <div id="ec-resource-30-message-9" class="ec-message">
                        <div class="row no-padding">
                            <div class="col-sm-8 col-sm-push-16">
                                <div class="ec-message__date text-right-sm">22 Мая 2020г.</div>
                                <div class="push10 visible-xs"></div>
                            </div>
                            <div class="col-sm-16 col-sm-pull-8">
                                <p class="username">
                                    <strong>
                                        Станислав Валерьевич
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p>Одним из главных отличий является то, что все, что вы видите в каталоге, уже имеется в
                            наличии на нашем складе. То есть после оформления заявки и оплаты вы сразу же можете
                            получить. Где можно купить?</p>

                    </div>
                    <div id="ec-resource-30-message-8" class="ec-message">
                        <div class="row no-padding">
                            <div class="col-sm-8 col-sm-push-16">
                                <div class="ec-message__date text-right-sm">22 Мая 2020г.</div>
                                <div class="push10 visible-xs"></div>
                            </div>
                            <div class="col-sm-16 col-sm-pull-8">
                                <p class="username">
                                    <strong>
                                        Светлана Сотникова
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p>Одним из главных отличий является то, что все, что вы видите в каталоге, уже имеется в
                            наличии на нашем складе. . То есть после оформления заявки и оплаты вы сразу же можете
                            получить. То есть после оформления заявки и оплаты вы сразу же можете получить. Одним из
                            главных отличий является то, что все, что вы видите в каталоге!</p>

                        <div class="push5"></div>
                        <div class="text reply-text f13">
                            <div>------</div>
                            <span class="bold">Админ:</span>
                            Светлана, спасибо за отзыв!
                        </div>

                    </div>
                    <div id="ec-resource-30-message-7" class="ec-message">
                        <div class="row no-padding">
                            <div class="col-sm-8 col-sm-push-16">
                                <div class="ec-message__date text-right-sm">22 Мая 2020г.</div>
                                <div class="push10 visible-xs"></div>
                            </div>
                            <div class="col-sm-16 col-sm-pull-8">
                                <p class="username">
                                    <strong>
                                        Татьяна Калашникова
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p>То есть после оформления заявки и оплаты вы сразу же можете получить. Одним из главных
                            отличий является то, что все, что вы видите в каталоге!</p>

                    </div>
                    <div id="ec-resource-30-message-6" class="ec-message">
                        <div class="row no-padding">
                            <div class="col-sm-8 col-sm-push-16">
                                <div class="ec-message__date text-right-sm">22 Мая 2020г.</div>
                                <div class="push10 visible-xs"></div>
                            </div>
                            <div class="col-sm-16 col-sm-pull-8">
                                <p class="username">
                                    <strong>
                                        Иван Сергеев
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p>Одним из главных отличий является то, что все, что вы видите в каталоге, уже имеется в
                            наличии на нашем складе. То есть после оформления заявки и оплаты вы сразу же можете
                            получить.</p>

                    </div>
                </div>
                <ul class="pagination"></ul>
                <div class="push30"></div>

                <div class="row">
                    <div class="col-sm-18 col-md-14">
                        <div class="title-h4">Оставить отзыв</div>
                        <div class="rev-form rf" id="reviewForm">
                            <div class="push10"></div>
                            <form class="form well ec-form" method="post" role="form" id="ec-form-resource-30"
                                  data-fid="resource-30">
                                <input type="hidden" name="thread" value="resource-30">
                                <div class="form-group ec-antispam">
                                    <label for="ec-address-resource-30" class="control-label">Антиспам поле. Его
                                        необходимо скрыть через css</label>
                                    <input type="text" name="address" class="form-control" id="ec-address-resource-30"
                                           value=""/>
                                </div>


                                <div class="row min">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" name="user_name" class="form-control required"
                                                   id="ec-user_name-resource-30" placeholder="Ваше имя *" value=""/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" name="user_email" class="form-control required"
                                                   id="ec-user_email-resource-30" placeholder="E-mail" value=""/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control required" name="text" placeholder="Ваш отзыв"
                                              id="ec-text-resource-30"></textarea>
                                </div>
                                <p><small>* - поля, обязательные для заполнения</small></p>
                                <input type="submit" class="button min btn" value="Отправить" name="send"/>
                            </form>
                            <div id="ec-form-success-resource-30"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="push60"></div>
    </section>

    <div class="footer-push"></div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/scripts"></div>

<script type="text/javascript" src="assets/components/pdotools/js/pdopage.min.js"></script>
<script type="text/javascript">pdoPage.initialize({
    "wrapper": "#comments",
    "rows": "#comments > .rows",
    "pagination": "#comments .pagination",
    "link": "#comments .pagination a",
    "more": "#pdopage .btn-more",
    "moreTpl": "<button class=\"btn btn-primary btn-more\">\u0417\u0430\u0433\u0440\u0443\u0437\u0438\u0442\u044c \u0435\u0449\u0435<\/button>",
    "mode": "default",
    "history": 1,
    "pageVarKey": "page",
    "pageLimit": "24",
    "assetsUrl": "\/assets\/components\/pdotools\/",
    "connectorUrl": "\/assets\/components\/pdotools\/connector.php",
    "pageId": 30,
    "hash": "f0372dabfe13b0243085857a2d3533f16df582be",
    "scrollTop": true
});</script>
<script type="text/javascript" src="assets/components/easycomm/js/web/ec.default.js"></script>
<script type="text/javascript" src="assets/components/ajaxform/js/default.js"></script>

</body>
</html>