<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Прайс на все виды услуг | Master')"></head>
<body class="base-template">

<div th:replace="fragments/mobile-menu :: mobile-menu"></div>

<div class="main-wrapper">
    <div th:replace="fragments/header :: header"></div>

    <section class="middle">
        <div class="push40"></div>
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active">Прайс</li>
            </ol>
            <h1>Прайс на все виды услуг</h1>


            <div class="content">
                <p>Данный прайс формируется динамически, на основе заполненных таблиц с ценами каждой конкретной услуги
                    из раздела услуг. Поэтому дополнительно дублировать заполнение цен не придется. Если таблица с
                    ценами на странице услуг не заполнена, то здесь соответственно ничего выводиться не будет. На данный
                    момент заполнены цены для услуг электрика и сантехника, поэтому здесь выведено 2 таблицы. Над
                    таблицами сделано динамическое якорное меню, чтобы можно было быстро проскроллить к интересующей
                    таблице. </p>
            </div>
            <div class="push20"></div>


            <ul class="price-anchor-menu">


                <li>
                    <a href="index.html#element_12" class="scrollto btn">
                        Услуги электрика
                        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-down" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                             class="svg-inline--fa fa-arrow-down fa-w-14 fa-2x">
                            <path fill="currentColor"
                                  d="M443.5 248.5l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L241 419.9V44c0-6.6-5.4-12-12-12h-10c-6.6 0-12 5.4-12 12v375.9L28.5 241.4c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.8 4.8-12.3.1-17z"
                                  class=""></path>
                        </svg>
                    </a>
                </li>


                <li>
                    <a href="index.html#element_13" class="scrollto btn">
                        Услуги сантехника
                        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-down" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                             class="svg-inline--fa fa-arrow-down fa-w-14 fa-2x">
                            <path fill="currentColor"
                                  d="M443.5 248.5l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L241 419.9V44c0-6.6-5.4-12-12-12h-10c-6.6 0-12 5.4-12 12v375.9L28.5 241.4c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.8 4.8-12.3.1-17z"
                                  class=""></path>
                        </svg>
                    </a>
                </li>


            </ul>
            <div class="price-tables-list">


                <div class="element" id="element_12">
                    <h3 class="element-title">
                        Услуги электрика
                    </h3>
                    <div class="element-table">
                        <table class="tvtable">
                            <tbody>
                            <tr>
                                <th>Наименование услуги</th>
                                <th>Цена</th>
                            </tr>
                            <tr>
                                <td><strong>Аварийные работы</strong></td>
                                <td>от 800 ₽</td>
                            </tr>
                            <tr>
                                <td>Устранение короткого замыкания и ремонт электропроводки</td>
                                <td>140 ₽</td>
                            </tr>
                            <tr>
                                <td>Ремонт розетки</td>
                                <td>от 500 ₽</td>
                            </tr>
                            <tr>
                                <td>Погасла люстра</td>
                                <td>от 150 ₽</td>
                            </tr>
                            <tr>
                                <td>Не работает выключатель</td>
                                <td>от 400 ₽</td>
                            </tr>
                            <tr>
                                <td>Галогеновый светильник</td>
                                <td>от 230 ₽</td>
                            </tr>
                            <tr>
                                <td>Блок выключателей</td>
                                <td>от 450 ₽</td>
                            </tr>
                            <tr>
                                <td>Замена лампы</td>
                                <td>50 ₽</td>
                            </tr>
                            <tr>
                                <td>Ремонт распределительной коробки</td>
                                <td>от 700 ₽</td>
                            </tr>
                            <tr>
                                <td><strong>Установка и подключение светильников</strong></td>
                                <td>от 1200 ₽</td>
                            </tr>
                            <tr>
                                <td>Сборка, установка люстры (демонтаж предыдущей)</td>
                                <td>от 1000 ₽</td>
                            </tr>
                            <tr>
                                <td>Люстра с пультом</td>
                                <td>от 800 ₽</td>
                            </tr>
                            <tr>
                                <td>Люстра с подвесными элементами (до 20 шт.)</td>
                                <td>130 ₽</td>
                            </tr>
                            <tr>
                                <td>Точечный светильник</td>
                                <td>350 ₽</td>
                            </tr>
                            <tr>
                                <td>Светильник настенный</td>
                                <td>650 ₽</td>
                            </tr>
                            <tr>
                                <td>Светильник потолочный</td>
                                <td>350 ₽</td>
                            </tr>
                            <tr>
                                <td>Установка бра</td>
                                <td>200 ₽</td>
                            </tr>
                            <tr>
                                <td>Мебельный светильник</td>
                                <td>200 ₽</td>
                            </tr>
                            <tr>
                                <td>Светильник</td>
                                <td>250 ₽</td>
                            </tr>
                            <tr>
                                <td>Галогеновая люстра</td>
                                <td>680 ₽</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="element" id="element_13">
                    <h3 class="element-title">
                        Услуги сантехника
                    </h3>
                    <div class="element-table">
                        <table class="tvtable">
                            <tbody>
                            <tr>
                                <th>Наименование работ</th>
                                <th>Стоимость</th>
                            </tr>
                            <tr>
                                <td><strong>Установка и подключение сантехнических приборов</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Ванна (чугун, сталь)</td>
                                <td>от 1400 ₽</td>
                            </tr>
                            <tr>
                                <td>Установка смесителя</td>
                                <td>900 ₽</td>
                            </tr>
                            <tr>
                                <td>Установка раковины, мойки</td>
                                <td>от 1200 ₽</td>
                            </tr>
                            <tr>
                                <td>Установка унитаза напольного</td>
                                <td>от 1450 ₽</td>
                            </tr>
                            <tr>
                                <td>Установка душ кабинки</td>
                                <td>4000 ₽</td>
                            </tr>
                            <tr>
                                <td>Установка посудомоечной машинки</td>
                                <td>от 900 ₽</td>
                            </tr>
                            <tr>
                                <td>Установка и подключение стиральной машины</td>
                                <td>от 1000 ₽</td>
                            </tr>
                            <tr>
                                <td>Установка водонагревателя от 80 л.</td>
                                <td>от 1500 ₽</td>
                            </tr>
                            <tr>
                                <td><strong>Ремонт сантехники</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Ремонт смесителя (течь)</td>
                                <td>от 700 ₽</td>
                            </tr>
                            <tr>
                                <td>Запорная арматура бачка унитаза (течь)</td>
                                <td>от 800 ₽</td>
                            </tr>
                            <tr>
                                <td>Замена прокладки в смесителе</td>
                                <td>от 400 ₽</td>
                            </tr>
                            <tr>
                                <td>Замена картриджа тонкой очистки</td>
                                <td>400 ₽</td>
                            </tr>
                            <tr>
                                <td>Замена шланга и душевой лейки</td>
                                <td>500 ₽</td>
                            </tr>
                            <tr>
                                <td>Устранение течи водопроводных труб</td>
                                <td>от 900 ₽</td>
                            </tr>
                            <tr>
                                <td>Течь труб канализации</td>
                                <td>от 700 ₽</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

        </div>
        <div class="push30"></div>
    </section>

    <div class="footer-push"></div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/scripts"></div>
</body>
</html>